html/dev/layout/content.html

<div class="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg">
        <div class="slider-banner">
          <div class="item"><img src="img/img.jpg" alt="#"/>
            <div class="slider-content">
              <div class="block-left">
                <div class="description">
                  <h1> Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sint saepe ratione distinctio iure, consequatur perspiciatis rerum libero ea nam, dolorum magni iusto placeat error autem, dolor consequuntur laboriosam doloremque.</p>
                </div>
              </div>
              <div class="block-right"><a class="btn btn-yellow btn-fill" href="#">Заказать обратный звонок</a></div>
            </div>
          </div>
          <div class="item">
            <div class="video">
              <video src="img/video.mp4" autoplay="autoplay"></video>
            </div>
            <div class="slider-content">
              <div class="block-left">
                <div class="description">
                  <h1> Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sint saepe ratione distinctio iure, consequatur perspiciatis rerum libero ea nam, dolorum magni iusto placeat error autem, dolor consequuntur laboriosam doloremque.</p>
                </div>
              </div>
              <div class="block-right"><a class="btn btn-yellow btn-fill" href="#">Заказать обратный звонок</a></div>
            </div>
          </div>
          <div class="item"><img src="img/img.jpg" alt="#"/>
            <div class="slider-content">
              <div class="block-left">
                <div class="description">
                  <h1> Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sint saepe ratione distinctio iure, consequatur perspiciatis rerum libero ea nam, dolorum magni iusto placeat error autem, dolor consequuntur laboriosam doloremque.</p>
                </div>
              </div>
              <div class="block-right"><a class="btn btn-yellow btn-fill" href="#">Заказать обратный звонок</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="b-cover block-video" style="background: url(http://alscon-clients.com/wp-content/themes/your-clean-template-3/img/b-reg.png) no-repeat 50% 0; background-size: cover;">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg">
        <div class="block-left">
          <h3>Lorem ipsum dolor sit amet.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis aspernatur ipsum corporis nostrum a similique!</p>
        </div>
        <div class="block-right">
          <div class="video">
            <iframe src="https://www.youtube.com/embed/gZF8FLjV1us" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
          </div>
          <div class="text-block">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam labore temporibus necessitatibus enim dolorem ipsa expedita minus accusantium, est reiciendis sed, consequatur beatae optio ea.</p>
          </div><a class="btn btn-yellow" href="#">Посмотреть все видео</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="description-block">
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <div class="content-description">
          <h3> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos expedita accusantium, sunt debitis fugiat!</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quasi facere accusantium dolore eligendi qui similique quod labore sit ut cupiditate tempora, ab molestias velit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, tempora. Accusantium quod id provident ut, ad reprehenderit asperiores sed officiis sunt necessitatibus, ipsa laudantium earum commodi laborum eligendi itaque, sapiente? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam consequuntur esse molestiae excepturi, maiores. Exercitationem, dignissimos, fugiat voluptatem voluptatum facilis veniam ad delectus aperiam quae soluta minima, neque repudiandae odit repellat iste at tempore cupiditate.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="advantages">
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <h2>Наши преимущества:</h2>
        <div class="items">
          <div class="item">
            <div class="b-applications__item"><img class="b-applications__item-image" src="http://alscon-clients.com/wp-content/themes/your-clean-template-3/img/b-applications/item111.png" alt=""/>
              <p class="b-applications__item-desc"><b>В автомобильных двигателях любой конфигурации.</b></p>
            </div>
          </div>
          <div class="item">
            <div class="b-applications__item"><img class="b-applications__item-image" src="http://alscon-clients.com/wp-content/themes/your-clean-template-3/img/b-applications/item222.png" alt=""/>
              <p class="b-applications__item-desc"><b>Сантехническое оборудование: радиаторы отопления, трубы, фитинги, раковины, кухонные мойки.</b></p>
            </div>
          </div>
          <div class="item">
            <div class="b-applications__item"><img class="b-applications__item-image" src="http://alscon-clients.com/wp-content/themes/your-clean-template-3/img/b-applications/item333.png" alt=""/>
              <p class="b-applications__item-desc"><b>Художественные шедевры.</b></p>
            </div>
          </div>
          <div class="item">
            <div class="b-applications__item"><img class="b-applications__item-image" src="http://alscon-clients.com/wp-content/themes/your-clean-template-3/img/b-applications/item444.png" alt=""/>
              <p class="b-applications__item-desc"><b>Оптимальная замена металлолома.</b></p>
            </div>
          </div>
        </div><a class="btn btn-fill" href="#">Скачать рефлист</a>
      </div>
    </div>
  </div>
</div>
<div class="projects" style="background-image:url(img/img.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <h2>Наши проекты</h2>
        <div class="projects-slider">
          <div class="item">
            <h3>Lorem ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum ullam saepe quia delectus reiciendis, consequuntur perferendis, dolorum eaque veritatis dicta beatae nulla obcaecati voluptates sit, impedit quisquam commodi voluptate a itaque, consequatur esse explicabo ducimus! Culpa, reiciendis. Repudiandae, neque, reiciendis.</p>
            <h4>- Этапы работ</h4><img src="img/slide-1.png" alt="#"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, dolorum!</p>
          </div>
          <div class="item">
            <h3>Lorem ipsum dolor.</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam culpa impedit, molestias alias. Tempora dignissimos inventore quasi libero veritatis maiores cumque, quam blanditiis illo mollitia beatae aspernatur repudiandae nam totam dolores possimus animi voluptate. Dicta pariatur dolorem est tempore voluptas.</p>
            <h4>- Этапы работ</h4><img src="img/slide-2.png" alt="#"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, dolorum!</p>
          </div>
        </div><a class="btn btn-fill" href="#">Получить детальную презентацию</a>
      </div>
    </div>
  </div>
</div>
<div class="description-block">
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <div class="content-description center">
          <h3> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos expedita accusantium, sunt debitis fugiat!</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quasi facere accusantium dolore eligendi qui similique quod labore sit ut cupiditate tempora, ab molestias velit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, tempora. Accusantium quod id provident ut, ad reprehenderit asperiores sed officiis sunt necessitatibus, ipsa laudantium earum commodi laborum eligendi itaque, sapiente? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam consequuntur esse molestiae excepturi, maiores. Exercitationem, dignissimos, fugiat voluptatem voluptatum facilis veniam ad delectus aperiam quae soluta minima, neque repudiandae odit repellat iste at tempore cupiditate.</p>
        </div>
      </div>
    </div>
  </div>
</div>

html/dev/pug/layout/content.pug
.banner
	.container-fluid
		.row
			.col-lg
				.slider-banner
					.item
						img(src="img/img.jpg", alt="#")
						.slider-content
							.block-left
								.description
									h1  Lorem ipsum dolor sit amet, consectetur adipisicing.
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sint saepe ratione distinctio iure, consequatur perspiciatis rerum libero ea nam, dolorum magni iusto placeat error autem, dolor consequuntur laboriosam doloremque.
							.block-right
								a(href="#" class="btn btn-yellow btn-fill") Заказать обратный звонок
					.item
						.video
							video(src="img/video.mp4" autoplay="autoplay")
						.slider-content
							.block-left
								.description
									h1  Lorem ipsum dolor sit amet, consectetur adipisicing.
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sint saepe ratione distinctio iure, consequatur perspiciatis rerum libero ea nam, dolorum magni iusto placeat error autem, dolor consequuntur laboriosam doloremque.
							.block-right
								a(href="#" class="btn btn-yellow btn-fill") Заказать обратный звонок
					.item
						img(src="img/img.jpg", alt="#")
						.slider-content
							.block-left
								.description
									h1  Lorem ipsum dolor sit amet, consectetur adipisicing.
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sint saepe ratione distinctio iure, consequatur perspiciatis rerum libero ea nam, dolorum magni iusto placeat error autem, dolor consequuntur laboriosam doloremque.
							.block-right
								a(href="#" class="btn btn-yellow btn-fill") Заказать обратный звонок
.b-cover.block-video(style="background: url(http://alscon-clients.com/wp-content/themes/your-clean-template-3/img/b-reg.png) no-repeat 50% 0; background-size: cover;")
	.container
		.row.no-gutters
			.col-lg
				.block-left(style='')
					h3 Lorem ipsum dolor sit amet.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis aspernatur ipsum corporis nostrum a similique!
				.block-right
					.video
						iframe(src='https://www.youtube.com/embed/gZF8FLjV1us', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='', width='560', height='315', frameborder='0')
					.text-block
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam labore temporibus necessitatibus enim dolorem ipsa expedita minus accusantium, est reiciendis sed, consequatur beatae optio ea.
					a.btn.btn-yellow(href='#') Посмотреть все видео
.description-block
	.container
		.row
			.col-lg
				.content-description
					h3  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos expedita accusantium, sunt debitis fugiat!
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quasi facere accusantium dolore eligendi qui similique quod labore sit ut cupiditate tempora, ab molestias velit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, tempora. Accusantium quod id provident ut, ad reprehenderit asperiores sed officiis sunt necessitatibus, ipsa laudantium earum commodi laborum eligendi itaque, sapiente? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam consequuntur esse molestiae excepturi, maiores. Exercitationem, dignissimos, fugiat voluptatem voluptatum facilis veniam ad delectus aperiam quae soluta minima, neque repudiandae odit repellat iste at tempore cupiditate.
.advantages
	.container
		.row
			.col-lg
				h2 Наши преимущества:
				.items
					.item
						.b-applications__item
							img.b-applications__item-image(src='http://alscon-clients.com/wp-content/themes/your-clean-template-3/img/b-applications/item111.png', alt='')
							p.b-applications__item-desc
								b В автомобильных двигателях любой конфигурации.
					.item
						.b-applications__item
							img.b-applications__item-image(src='http://alscon-clients.com/wp-content/themes/your-clean-template-3/img/b-applications/item222.png', alt='')
							p.b-applications__item-desc
								b
									| Сантехническое оборудование: радиаторы отопления, трубы, фитинги, раковины, кухонные мойки.
					.item
						.b-applications__item
							img.b-applications__item-image(src='http://alscon-clients.com/wp-content/themes/your-clean-template-3/img/b-applications/item333.png', alt='')
							p.b-applications__item-desc
								b Художественные шедевры.
					.item
						.b-applications__item
							img.b-applications__item-image(src='http://alscon-clients.com/wp-content/themes/your-clean-template-3/img/b-applications/item444.png', alt='')
							p.b-applications__item-desc
								b Оптимальная замена металлолома.
				a.btn.btn-fill(href="#") Скачать рефлист
.projects(style="background-image:url(img/img.jpg)")
	.container
			.row
				.col-lg
					h2 Наши проекты
					.projects-slider
						.item
							h3 Lorem ipsum dolor.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum ullam saepe quia delectus reiciendis, consequuntur perferendis, dolorum eaque veritatis dicta beatae nulla obcaecati voluptates sit, impedit quisquam commodi voluptate a itaque, consequatur esse explicabo ducimus! Culpa, reiciendis. Repudiandae, neque, reiciendis.
							h4 - Этапы работ
							img(src="img/slide-1.png", alt="#")
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, dolorum!
						.item
							h3 Lorem ipsum dolor.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam culpa impedit, molestias alias. Tempora dignissimos inventore quasi libero veritatis maiores cumque, quam blanditiis illo mollitia beatae aspernatur repudiandae nam totam dolores possimus animi voluptate. Dicta pariatur dolorem est tempore voluptas.
							h4 - Этапы работ
							img(src="img/slide-2.png", alt="#")
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, dolorum!
					a.btn.btn-fill(href="#") Получить детальную презентацию
.description-block
	.container
		.row
			.col-lg
				.content-description.center
					h3  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quos expedita accusantium, sunt debitis fugiat!
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quasi facere accusantium dolore eligendi qui similique quod labore sit ut cupiditate tempora, ab molestias velit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, tempora. Accusantium quod id provident ut, ad reprehenderit asperiores sed officiis sunt necessitatibus, ipsa laudantium earum commodi laborum eligendi itaque, sapiente? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam consequuntur esse molestiae excepturi, maiores. Exercitationem, dignissimos, fugiat voluptatem voluptatum facilis veniam ad delectus aperiam quae soluta minima, neque repudiandae odit repellat iste at tempore cupiditate.
